<!--   First row of profiles -->
  
  <div class="container"> 
   <div class="row">
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 1</h3>
          <p>...</p>
          <p><a href="/profile/1" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 2</h3>
          <p>...</p>
          <p><a href="/profile/2" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 3</h3>
          <p>...</p>
          <p><a href="/profile/3" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     
   </div>
  </div>
  
<!--   Second row of profiles
   -->  
  
  <div class="container"> 
   <div class="row">
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 4</h3>
          <p>...</p>
          <p><a href="/profile/4" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 5</h3>
          <p>...</p>
          <p><a href="/profile/5" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 6</h3>
          <p>...</p>
          <p><a href="/profile/6" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     
   </div>
  </div>
</body>
</html>