<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://media.virbcdn.com/images/55/PageImage-492047-2644012-CleanGrayBackGround.jpg" alt="...">
      <div class="carousel-caption">
    <h3>...</h3>
    <p>...</p>
  </div>
    </div>
    
    <div class="item">
      <img src="http://media.virbcdn.com/images/55/PageImage-492047-2644012-CleanGrayBackGround.jpg" alt="gray filler">
      <div class="carousel-caption">
        Users input and update mood data
      </div>
    </div>
    
     <div class="item">
      <img src="http://media.virbcdn.com/images/55/PageImage-492047-2644012-CleanGrayBackGround.jpg" alt="gray filler">
      <div class="carousel-caption">
        Systems thinking in action
      </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!--   First row of profiles -->
 
  <div class="container"> 
   <div class="row">
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 1</h3>
          <p>...</p>
          <p><a href="/profile/1/edit" class="btn btn-primary" role="button">Edit</a> <a href="/profile/create" class="btn btn-default" role="button">New User</a></p>
        </div>
      </div>
     </div>
     
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 2</h3>
          <p>...</p>
          <p><a href="/profile/2/edit" class="btn btn-primary" role="button">Edit</a> <a href="/profile/create" class="btn btn-default" role="button">New User</a></p>
        </div>
      </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 3</h3>
          <p>...</p>
          <p><a href="/profile/3/edit" class="btn btn-primary" role="button">Edit</a> <a href="/profile/create" class="btn btn-default" role="button">New User</a></p>
        </div>
      </div>
     </div>
     
   </div>
  </div>
  
<!--   Second row of profiles
   -->  
  
  <div class="container"> 
   <div class="row">
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 4</h3>
          <p>...</p>
          <p><a href="/profile/4/edit" class="btn btn-primary" role="button">Edit</a> <a href="/profile/create" class="btn btn-default" role="button">New User</a></p>
        </div>
      </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 5</h3>
          <p>...</p>
          <p><a href="/profile/5/edit" class="btn btn-primary" role="button">Edit</a> <a href="/profile/create" class="btn btn-default" role="button">New User</a></p>
        </div>
      </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="News">
        <div class="caption">
          <h3>Profile 6</h3>
          <p>...</p>
          <p><a href="/profile/6/edit" class="btn btn-primary" role="button">Edit</a> <a href="/profile/create" class="btn btn-default" role="button">New User</a></p>
        </div>
      </div>
     </div>
     
   </div>
  </div>
</body>
</html>