<!--   First row of headlines -->
  
  <div class="container"> 
   <div class="row">
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="http://www.clipartpal.com/_thumbs/pd/education/newspaper_aubanel_monnie_01.png" alt="News">
        <div class="caption">
          <h3>News to You?</h3>
          <p>...</p>
          <p><a href="/one" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="http://www.clipartpal.com/_thumbs/pd/education/newspaper_aubanel_monnie_01.png" alt="News">
        <div class="caption">
          <h3>News to You?</h3>
          <p>...</p>
          <p><a href="/two" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="http://www.clipartpal.com/_thumbs/pd/education/newspaper_aubanel_monnie_01.png" alt="News">
        <div class="caption">
          <h3>News to You?</h3>
          <p>...</p>
          <p><a href="/three" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     
   </div>
  </div>
  
<!--   Second row of headlines
   -->  
  
  <div class="container"> 
   <div class="row">
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="http://www.clipartpal.com/_thumbs/pd/education/newspaper_aubanel_monnie_01.png" alt="News">
        <div class="caption">
          <h3>News to You?</h3>
          <p>...</p>
          <p><a href="/four" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="http://www.clipartpal.com/_thumbs/pd/education/newspaper_aubanel_monnie_01.png" alt="News">
        <div class="caption">
          <h3>News to You?</h3>
          <p>...</p>
          <p><a href="/five" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="http://www.clipartpal.com/_thumbs/pd/education/newspaper_aubanel_monnie_01.png" alt="News">
        <div class="caption">
          <h3>News to You?</h3>
          <p>...</p>
          <p><a href="/six" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Less</a></p>
        </div>
      </div>
     </div>
     
   </div>
  </div>
</body>
</html>