<!DOCTYPE html>
<html>
<head>
  <title>Yourspin</title>
   <script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>

<div class="jumbotron">
  <div class="container">
    <h1>All the world's news spun just for you</h1>
    <p>Sick of the liberal media lies? Tired of the same conservative propaganda? </p>
    <p>Give the world's headlines YourSpin on YourSpin.com</p>
  </div>
 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span><a class="btn btn-primary btn-lg" role="button"><img src="http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/512/Maps-and-Geolocation-Globe-icon.png" height="50px"> YourSpin</a></span>
      </div>
      <div class="col-md-4">
        <span><a class="btn btn-primary btn-lg" role="button"> <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Inkscape_icons_randomize.svg/120px-Inkscape_icons_randomize.svg.png" height="50px"> <span>Randomize</span></a></span>
      </div>
      <div class="col-md-4"> 
        <div class="btn-group">
        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"> <img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/edit_property.png" height="50px"> More Filters <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
    <li><a href="#">Location</a></li>
    <li><a href="#">Political</a></li>
    <li><a href="#">Religious</a></li>
    <li class="divider"></li>
    <li><a href="#">Even more filters</a></li>
  </ul>
</div>

         </div>
      </div>
  
  </div>
   </div>
</div>
  
<%= yield %>


</body>
</html>
